@import "./normalize.css";

/*:root -> 获取根元素html*/
:root {
  --color-text: #05163f;
  --color-high-text: #e61e37;
  --color-theme: #007aff;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: normal;
  --text-align: justify;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: var(--font-size) / var(--line-height) "Microsoft YaHei", arial, 宋体, sans-serif;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  text-align: var(--text-align);
}

a{
  text-decoration:none;
}
a:visited{
  color:var(--color-text);
}
a:hover{
  color:var(--color-high-text);
}
a:active{
  color:#fff;
}
a:link{
  color:var(--color-text);
}


.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.pc {
  display: block;
}

.wap {
  display: none !important
}
.container .in-tit {
  text-align: center;
  overflow: hidden;
  padding-bottom: 35px;
}
.container .in-tit>img {
  height: 88px;
  width: auto;
  vertical-align: middle;
}
.container .in-tit .dt {
  font-size: 38px;
  color: #05163f;
  font-weight: bold;
  margin-top: -60px;
}
.container .in-tit .text {
  font-size: 18px;
  margin-top: 20px;
}
.banner a {
  display: block;
  overflow: hidden
}

.banner a img {
  width: 100%;
  height: auto
}

.banner .banner-num {
  position: absolute;
  bottom: 35px !important;
  z-index: 5;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center
}

.banner .banner-num .swiper-pagination-bullet {
  border-radius: 50px;
  width: 16px;
  height: 16px;
  margin: 0 5px !important;
  background: #fff;
  transition: all .5s;
  opacity: 1;
  outline: 0
}

.banner .banner-num .swiper-pagination-bullet-active {
  width: 54px;
  background: #f7ac1b
}
@media (max-width:999px) {
  body {
    /* overflow-y: hidden; */
  }
  .container {
    padding: 0 10px
  }

  .pc {
    display: none !important
  }

  .wap {
    display: block !important
  }
  html body .container .in-tit {
    padding-bottom: 15px
  }

  html body .container .in-tit>img {
    height: 40px;
    max-width: 100%
  }

  html body .container .in-tit .dt {
    font-size: 20px;
    margin-top: -25px
  }

  html body .container .in-tit .dt img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    margin-top: -8px
  }

  html body .container .in-tit .text {
    font-size: 12px;
    line-height: 20px;
    margin-top: 5px
  }
}

