@media (max-width:999px) {

  .container {
    padding: 0 10px
  }

  .pc {
    display: none !important
  }

  .wap {
    display: block !important
  }
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
    box-shadow: 0 0 5px #eee
  }

  header .container {
    height: 55px
  }

  header .logo img {
    height: 35px
  }
  header .navbut {
    display: block;
    width: 55px;
    height: 55px;
    background: url(../image/icon_wap_nav.png) center center no-repeat;
    background-size: auto 24px;
    margin-right: -10px
  }

  header .box {
    position: absolute;
    border-left: 0;
    max-width: inherit;
    margin-left: 0
  }
}